@model ConsumeAPI.Models.LoginItemTodo
@{
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5 w-25">
        <h1 class="my-3">User Login</h1>
        <form asp-controller="LoginTodo" asp-action="Login" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Username">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" asp-for="IsLoggedIn">
                <label class="form-check-label" for="exampleCheck1">Stay Logged In</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        @if (ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
            <label>
                @ViewData["ValidateMessage"]
            </label>
        }
    </div>
</body>
</html>
